@import "tailwindcss";

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #64748b; /* slate-500 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5e6672; /* slate-600 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7e858e transparent;
}
